{% extends "index.html" %}
{% block content %}
  <div id="main">

    <div class="content">
    
			
	  <h2></h2>
      <h6><b> </b><b></b></h6>
      {%if language=='en'%}
      		<p></p>
    	  	<p>Senior Software Engineer with experience in analysis, developing, testing, maintenance and integration of enterprise class applications (Java EE, JBoss, Spring, Oracle, Ajax, JavaScript etc.). Focused on high quality production results and customer  satisfaction (or user) - accomplished many successful implementations. Having a lot of experience with providing secure and useful solutions for high-loaded web application. Good team player and responsible person. Capable of acting as and replacing practically each team member (including leadership role). Supporter for agile methodologies, open for new trends and solutions in software engineering.</p>
      {% else %}
      		<p></p>
	      	<p>Senior Software Engineer z doswiadczeniem w analizie, rozwoju, testowaniu, utrzymaniu i integracji aplikacji klasy enterprise (Java EE, JBoss, Spring, Oracle, Ajax, JavaScript, itp.). Ukierunkowany na wysoka jakosc wyniku produkcji i satysfakcji klienta (lub uzytkownika). Zrealizowana duza ilosc udanych wdrozen produkcyjnych. Duze doswiadczenie w dostarczaniu bezpiecznych i uzytecznych rozwiazan dla aplikacji internetowej, z ktorej korzysta wielu uzytkownikow. Osoba odpowiedzialna i pracujaca zespolowo. Kompetentny do objecia kazdej roli w zespole (takze roli lidera). Zwolennik metodyk zwinnych, otwarty na nowe trendy i rozwiazania w obszarze inzynierii oprogramowania.</p>
      {% endif %}
      <h5><a href="./"></a></h5>
      
     
    </div>
  </div>
 {% endblock %}
 
