{% extends "index.html" %}
{% block content %}
  <div id="main">

    <div class="content">
    
     {% for history in content.education %}
               
	  <h2>{{history['school'][language]}}</h2>
      <h6><b>{{since_date}}: </b>{{history['since'][language]}}<b> {{to_date}}: </b>{{history['until'][language]}}</h6>
      <p>{{history['degree'][language]}}</p>
      <ul>
      	{% for desc in history['division'][language] %}	
        	<li>{{desc}}</li>
        {% endfor %}         
        {% for desc in history['other'][language] %}	
        	<li>{{desc}}</li>
        {% endfor %}
      </ul>
      	
      
      <h5><a href="./"></a></h5>
   {% endfor %}   
     
    </div>
  </div>
 {% endblock %}
 
