{% extends "index.html" %}
{% block content %}
  <div id="main">

    <div class="content">
    
     {% for history in content.education %}				
	  <h2>{{history.school[language]}}</h2>
      <h6><b>{{since_date}}: </b>{{history.start_date[language]}}<b> {{to_date}}: </b>{{history.end_date[language]}}</h6>
      <p>{{history.degree[language]}}</p>
      <ul>
      	{% for desc in history.description[language] %}	
        	<li>{{desc}}</li>
        {% endfor %}         
        {% for desc in history.additional_data[language] %}	
        	<li>{{desc}}</li>
        {% endfor %}
      </ul>
      	
      
      <h5><a href="./"></a></h5>
   {% endfor %}   
     
    </div>
  </div>
 {% endblock %}
 
