{% extends "index.html" %}
{% block content %}
  <div id="main">

    <div class="content">
    
    {% for history in content.employment %}				
	  <h2>{{history.company}}</h2>
      <h6><b>{{since_date}}: </b><span class="date">{{history.start_date}}</span><b> {{to_date}}: </b><span class="date">{{history.end_date}}</span></h6>
      <p><b>{{history.position[language]}}</b></p>
      <ul>
      	{% for desc in history.description[language] %}	
        	<li>{{desc}}</li>
        {% endfor %}         
      </ul>
      <h5><a href="./"></a></h5>
   {% endfor %}   
     
    </div>
  </div>
 {% endblock %}
 
