{% extends "index.html" %}
{% block content %}
  <div id="main">

    <div class="content">
    
    {% for history in content.employment.history %}				
	  <h2>{{history.company}}</h2>
      <h6><b>Od: </b>{{history.start_date}}<b> Do: </b>{{history.end_date}}</h6>
      <p>{{history.position[language]}}</p>
      <ul>
      	{% for desc in history.description[language] %}	
        	<li>{{desc}}</li>
        {% endfor %}         
      </ul>
      <h5><a href="./"></a></h5>
   {% endfor %}   
     
    </div>
  </div>
 {% endblock %}
 
