<!DOCTYPE html>
<html lang="en-US"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>TCH</title>
<link rel="stylesheet" type="text/css" media="all" href="/static/style.css">
</head>

<body class="single single-post postid-492 single-format-standard single-author content-onecolumn">
<div id="page" class="hfeed">
	<header id="branding" role="banner">
			<hgroup>
               	                            
				<h1 id="site-title"><span><a href="/cv/" title="{{full_name}}" rel="home">{{content.profession}}:{{content.full_name}}</a></span></h1><img src="/static/anonymous.png"/>
				<h2 id="site-description"></h2>
			</hgroup>

			
			<nav id="access" role="navigation">
				<div class="menu-header-container">
					<ul class="menu l_tinynavNaN">
						{% for item in menu %}
							<li><a href="/cv/{{language}}/{{item.link}}" title="">{{item.description[language]}}</a></li>
						{% endfor %}
			    </div>
			</nav>
            
	</header>
    {% block content %}{% endblock %}
	
</div><!-- #page -->




</body></html>